<h1>Recipes!!!</h1>

<%= link_to "New Recipe", new_recipe_path %>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.title, recipe_path(recipe) %>
      <%= link_to 'Edit', edit_recipe_path(recipe) %>
      <%= link_to 'Delete', recipe_path(recipe), method: :delete,
        data: {
          confirm: "Are you sure you want to delete #{recipe.title} recipe?"
        } %>
    </li>
  <% end %>
</ul>
